body, html {
    padding: 0;
    margin: 0;
}

body {
    background-color: gainsboro;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

}

#btnContainer > * {
    margin: 25px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: cadetblue;
}

#canvas {
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid cadetblue;
    box-sizing: content-box;
    align-items: center;
    justify-content: center;

}

.pixel {
    box-sizing: border-box;
    border-left: 1px solid black;
    border-top: 1px solid black;
    background-color: transparent;
}

#github {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}