body, html {
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

#btnContainer > #genBtn, #resetBtn {
    margin: 25px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
}

#canvas {
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid red;
    box-sizing: content-box;

}

.pixel {
    box-sizing: border-box;
    border-left: 1px solid black;
    border-top: 1px solid black;
}