#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

#canvas {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.dimensionBtn {
    font-size: 20px;
}
